<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-material-purple-200">
            <h1 class="text-center"><i class="fa fa-users fa-2x"></i> About LeadAfrique International</h1>
        </div>
    
        <div class="col-md-7">
            <div class="well well-material-teal-400">
                <h3>About us</h3>
                <p>
                    Africa has consistently lagged behind on almost all development indices in spite of its vast and rich natural resources. Many studies and anecdotal evidence show that poor and unresponsive leadership is the cause of this spate of affairs. 
                    There have been many scattered initiatives and programmes on leadership on the continent in an attempt to solve this canker. 
                    What has been lacking is a strategic, focused and unified approach to resolving the continent’s leadership challenges.
                   <hr>
                </p>
                <p>
                    Enter LeadAfrique International. 
                    We aim to coordinate all leadership programmes that will tactically cultivate the next generation of the continent’s leaders – in business, governance, public service, academia, religious organisations, uniformed services and chieftaincy. 
                    Using the patient and methodical process of farming, LeadAfrique will carefully spot, select, train, and cultivate the next generation of Africa’s leaders.
                    <hr>
                </p>
                <p>
                    LeadAfrique will cultivate a cadre of leaders for Africa who will be disciplined, orderly and respond to the needs of the people. LeadAfrique aim to produce value-based leaders who are confident and can face up to anyone anywhere in the world and will leave no stone unturned in developing their communities and nations
                    <hr>
                </p>
                <p>
                    Several studies – empirical and anecdotal – show that getting leadership right can spur development and cause a cataclysmic effect that can change a people’s fortunes. LeadAfrique is therefore an idea whose time has come.                    
                    <hr>
                </p>
                
            </div>
        </div> 
        <div class="col-md-5">
            <div class="well">
                <img src="images/profiles/groupShot.jpg" class="img-responsive">
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="mdi-action-visibility"></i> Our Vision Statement</h3>
                </div>
                <div class="panel-body">
                    To cultivate creative and responsive leaders to transform Africa
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="mdi-communication-invert-colors-on"></i> Our Mission Statement</h3>
                </div>
                <div class="panel-body">
                    We aim to grow leaders who are disciplined, ordered and respond to the needs of their people through structured Leadership Farms.
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="mdi-device-wifi-lock"></i> Our Objectives</h3>
                </div>
                <div class="panel-body">
                    - Methodically prepare the next generation of African leaders.<br>
                    - Imbibe in these critical mass, the spirit of nationalism, patriotism, generational thinking, connected-thinking, service, discipline and order.
                </div>
            </div>
        </div> 
    </div>
</div>